{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true
    }
  },
  "rules": {
    "complexity": ["error", 5],
    "no-bitwise": "warn",
    "no-console": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "prefer-arrow-callback": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "require-yield": "off",
    "no-whitespace-before-property": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-unexpected-multiline": "off",
    "no-throw-literal": "off",
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals": {
    "all": true,
    "args": true,
    "batch": true,
    "callbacks": true,
    "co": true,
    "context": true,
    "current": true,
    "defaults": true,
    "delay": true,
    "extend": true,
    "fail": true,
    "fromPairs": true,
    "group": true,
    "groupBy": true,
    "halt": true,
    "keys": true,
    "map": true,
    "mapKeys": true,
    "mapValues": true,
    "omit": true,
    "omitBy": true,
    "omits": true,
    "pick": true,
    "pickBy": true,
    "range": true,
    "samficVersion": true,
    "status": true,
    "then": true,
    "tube": true,
    "values": true
  }
}
